/**
 * Colour palette (yeah we're British!)
 */

// Generic colours
$black                        : #000;
$blue                         : #3f589e;
$blueDark                     : darken($blue, 20%);
$green                        : #1abc9c;
$red                          : #d24a27;
$dark-orange                  : #f6650a;
$orange                       : #e67e22;
$yellow                       : #ffc600;
$pink                         : #c3325f;
$purple                       : #8e44ad;
$gray                         : #d5d5d4;

// Colour Scheme
$color-primary                : $black;
$color-secondary              : $red;
$color-h1                     : $dark-orange;
$color-link                   : $blue;

// Common colours
$color-text                   : #444;
$color-bg                     : #f1f1f1;
$color-border                 : #fff;

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $color-primary;


// Links
$color-link-default           : #fff;
$color-link-visited           : lighten($gray, 10%);
$color-link-hover             : darken($gray, 10%);
$color-link-active            : darken($gray, 10%);


// Buttons
$btn-default-bg               : #fff;
$btn-default-bg-highlight     : darken(#fff, 10%);
$btn-border                   : #ccc;

$btn-primary-bg               : $color-link-default;
$btn-primary-bg-highlight     : #2c3e50;


// Tabs
$inactive-tab                 : #95a5a6;
$active-tab                   : $green;


// Code
$color-code                   : #444;
$color-code-bg                : #ddd;
$color-pre                    : #444;
$color-pre-bg                 : #ddd;



// Messages & form states and alerts
$color-message                : #f4ecbb;
$color-important              : #d00;
$color-notice                 : #66b;
$color-warning                : darken($yellow, 5%);
$color-error                  : darken($red, 5%);
$color-success                : $green;
$color-info                   : #3a87ad;



/**
 * Forms
 */
$input-bg                     : #fff;
$input-border                 : #ccc;
$input-disabled-bg            : lighten(#000, 70%);
$form-actions-bg              : #f5f5f5;
$label-color                  : $color-text;
$input-color                  : $color-text;

// Input placeholder text color
$placeholder-text             : lighten(#000, 70%);

// Tables
$table-bg                     : $color-bg !default; // Default background color used for all tables.
$table-bg-accent              : #f9f9f9 !default; // Background color used for `.table-striped`.
$table-bg-hover               : #f5f5f5 !default; // Background color used for `.table-hover`.
$table-bg-active              : $table-bg-hover !default;
$table-border                 : #ddd; // table and cell border
$table-border-color           : #ddd !default; // Border color for table and cell borders.

// <hr> border colour
$hr-border                    : lighten(#000, 70%);
