/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
}

/**
 * Default layout container
 */
.masthead,
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto 40px;
	position: relative;	

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
}

/* Toggle styles ------------------------------------------------------------------ */

.toggle {
	position: absolute;
	right: 0;
	top: 0;
	margin: 20px;
	z-index: 5;
	cursor: pointer;

	@include respond-min($bp-narrow) {
		margin: 20px;
	}

	@include respond-min($bp-mid) {
		display: none;
	}
}

.navigation {
	background: #d14414 100%;
	display: none;
	padding: 10px 20px;
	position: absolute;
	width: 100%;
	z-index: 4;

	@include respond-min($bp-mid) {
		display: block;
		margin-bottom: 10px;
		position: relative;
	}
}

.navigation--list {
	font-size: 1.4rem;
	padding: 5px 0;

	@include respond-min($bp-mid) {
		margin: 0 auto;
		max-width: #{$layout-max-width}px;
		width: 95%;

		li {
			float: left;
			padding: 0 12px;
		}
	}
}

.burger {
	height: auto;
	width: 45px;
}

.inverted {
	filter: invert(100%);
}

/* Masthead style ------------------------------------------------------------------ */

.heading {
	margin: 0 !important;
}

.sub-heading {
	margin: 0 !important;
}


.main-logo {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding: 5px 0;
	position: relative;

	@include respond-min($bp-mid) {
		float: right;
		width: 150px;
		z-index: 99;
	}
}

.tmw {
	padding-top: 70px;

	@include respond-min($bp-mid) {
		padding-left: 15px;
	}
}

.side {
	display: block;
	position: relative;
	width: 95%;
	margin: 0 auto;

	@include respond-min($bp-mid) {
		float: left;
		margin: 0;
		width: 50%;
	}
}

.left--side {
	background: url(../images/star.png) 0 0 no-repeat;
	background-size: 100% 100%;
	padding-bottom: 90px;

	@include respond-min($bp-mid) {
		padding-bottom: 0;
	}
}

.main {
	display: block;
    width: 95%;
    text-align: center;
    margin: 0 auto 20px;
    padding-top: 10px;
	position: relative;

    @include respond-min($bp-mid) {
    	padding-top: 0;
		width: 100%;
	}

}

.house {

	display: none;

	@include respond-min($bp-mid) {
		display: inline-block;
		position: relative;
	}
}

.post-meta {
	color: #fff;
	font-size: 2rem;
	list-style-type: none;

	@include respond-min($bp-mid) {
		margin: 20% 0 40%;
	}
}

.post-meta-key {
	display: block;
}

.highlight {
	font-weight: bold;
	text-decoration: underline;
}

.l-container a {
	color: #000;
	text-decoration: underline;
}

.posts h1 {
	margin-bottom: 0;
	
	a {
		color: #000;
	}
}

.posts p {
	margin-top: 20px;
	width: 100%;
}

.posts .meta {
	margin: 0;
	font-size: 0.8rem;
}

.polaroid {
	// display: none;
	max-width: 80%;
	text-align: center;
	margin: 0 auto;

	@include respond-min($bp-mid) {
		display: block;
	}
	
	img {
		width: 50%;
		height: auto;
		margin: 0 auto;
	}
}

// Footer

footer {
	background-color: $gray;
	position: relative;	

	@include respond-min($bp-mid) {
		bottom: 0;
		width: 100%;
		position: relative;
	}

	.center {
		text-align: center;
	}
	
	ul {
		text-align: center;
		margin: 0;
		
		@include respond-min($bp-mid) {
			display: inline-block;
		}

		li {
			margin: 0 20px;
		}
	}	
}

.footer-list {
	text-align: center;
	list-style: none;
}

.footer-list li {
	@include respond-min($bp-mid) {
		float: left;
		padding: 10px 0;
	}
}



/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

/*
   Retina media query
   ========================================================================== */
@include hidpi() {

}



// === $bp-narrow> ===
@include respond-min($bp-narrow) {

}
// === end $bp-narrow> ===



// === $bp-mid> ===
@include respond-min($bp-mid) {

}
// === end $bp-mid> ===


// === $bp-wide> ===
@include respond-min($bp-wide) {

}
// === end $bp-wide> ===


// === $bp-huge> ===
@include respond-min($bp-huge) {

}
// === end $bp-huge> ===
